/*======================layout--------------------------------*/
html,body,.capa {
  height: 100%;
}


body{

  background:linear-gradient(50deg, #ff0000,#ff00f7, #3300ff,#00b8ff,#00ff4e, #ebff00,#ff0000);
              background-attachment: fixed;
              font-family: Helvetica, Arial, sans-serif;
            
}



nav.navbar-transparente {
  padding: 15px 0px;
  background: rgba(0,0,0,0.6);
  border: none;
}
.navbar-brand{
 padding: 5px 15px;

}
.divisor{
  width: 1px;
  height: 16px;
  background: white;
  margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a{
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
  color: #9bf0e1;
  background: none;
} 

/*-Imagem de capa--*/
.capa{
  display: table;
  width: 100%;
}

.texto-capa{
  text-align: center;
  color: black;
  display: table-cell;
  vertical-align: middle;
}

.button {
  background-color: rgb(8, 37, 46);
  color: white;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  margin: 5px;
  border: rgb(8, 37, 46) solid 1px;
  border-radius: 50px;
  font: 500 1rem 'DM Sans', sans-serif;
  transition: background 0.3s;
}

.button:hover {
  background: transparent;
}

.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: blue;
}

.logo span {
  color: darkcyan;
}

#servicos{
  background: blueviolet;
  padding-top: 20px;
  padding-bottom: 20px;
  
}


html,body,.capa {
  height: 100%;
}





/*-Barra de navegação--*/

/*-Imagem de capa--*/
.capa{
  display: table;
  width: 100%;
}

.texto-capa{
  text-align: center;
  color: black;
  display: table-cell;
  vertical-align: middle;
}

/*-seção do serviços --*/
#servicos{
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*======================Tipografia===========================*/
h1{
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin-bottom: 50px; ;
}

/*======================secao servico===========================*/
#servicos{
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*=========================Tipografia===========================*/
h1{
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -0.05em;
  margin-bottom: 50px;
  color: rgb(8, 37, 46);
}

h2{
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h3{
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -0.04em
  
}
