.principal{
	float: 	left;	
	width: 	auto;	
	height: 500px;
	background: #FFF;
	border: 	1px solid #a2a2a2;
	margin-right: 	5px;
}

#cenario{
	float: left;
	width: 600px;
	height: 500px;
	background: url(imagens/cenario.png);
	background-position: bottom;
}
body{

	background: url('imagens/fundo.jpg'),
				linear-gradient(50deg, #ff4169,#7c26f8);
				background-attachment: fixed;
				font-family: Helvetica, Arial, sans-serif;
		 overflow-x: hidden;       
  }